
   

    <section class="jumbotron text-center">
            <div class="container">
              <h1 class="jumbotron-heading">Welcome to Corporate Bank</h1>
            </div>
          </section>
      
          <div class="album text-muted">
            <div class="container">
      
              <div class="row">
                    <div class="card login-layout">
                            <div class="card-header bg-orange">
                                <h5 class="text-white">Personal Details</h5>
                            </div>
                            <div class="card-body">
                               <p>Name: XXXX</p>
                               <p>Address: 9771 Joy Ridge Dr.<br>
                                    Eastpointe, MI 48021</p>
                                    <p>Email: </p>
                                    <p>Phone:</p>
                                    <p>PassportNumber:</p>
                            </div>
                        </div>
                        <div class="card login-layout">
                                <div class="card-header bg-orange">
                                    <h5 class="text-white">Personal Details</h5>
                                </div>
                                <div class="card-body">
                                   <p>Name: XXXX</p>
                                   <p>Address: 9771 Joy Ridge Dr.<br>
                                        Eastpointe, MI 48021</p>
                                        <p>Email: </p>
                                        <p>Phone:</p>
                                        <p>PassportNumber:</p>
                                </div>
                            </div>
              </div>
      
            </div>
          </div>
   