<div class="d-flex justify-content-lg-center card-body">
    <form [formGroup]="mortgageForm" (ngSubmit)="mortgage()" class="col-lg-6">
        <div *ngIf="tab === 1">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h5 class="card-text">Loan Details</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-lg-center">
                <div class="card col-lg-12">
                    <div class="card-body">
                        <div class="form-group" >
                            <label for="firstName">Amount</label>
                            <input class="form-control" type="number" placeholder="Enter amount"
                                formControlName="amount">
                        </div>
                        <div class="form-group">
                            <label for="term">Term</label>
                            <input class="form-control" type="number" placeholder="Enter term" formControlName="term">
                        </div>

                        <div class="form-group">
                            <label for="usage">Usage</label>
                            <input class="form-control" type="text" placeholder="Enter Usage" formControlName="usage">
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-lg-12 d-flex justify-content-lg-end pt-2 pr-0 ">

                <div class="col-6 d-flex justify-content-lg-end pr-0">
                    <button class="btn bg-orange btn-md col-md-4 text-white" role="button" aria-pressed="true"
                        (click)=next(2)>Next</button>
                </div>
            </div>
        </div>

        <div *ngIf="tab === 2">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h5 class="card-text">Corporate Details</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-lg-center">
                <div class="card col-lg-12 col-md-12">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="organisation">Corporate Name</label>
                            <input class="form-control" type="text" placeholder="Enter your Corporate name"
                                formControlName="name">
                        </div>
                        <div class="form-group">
                            <label for="regNo">Commerical Age</label>
                            <input class="form-control" type="number" placeholder="Enter your Commerical register"
                                formControlName="companyAge">
                        </div>
                        <div class="form-group">
                            <label for="employeeId">Corporate Address</label>
                            <input class="form-control" type="text" placeholder="Enter your Corporate address"
                                formControlName="corporateAddress">
                        </div>


                        <div class="form-group">
                            <label for="revenue">Revenue Of Last year</label>
                            <input class="form-control" type="text" placeholder="Enter last year revenue"
                                formControlName="revenue">
                        </div>
                        <div class="form-group">
                            <label for="regNo">Commerical Register</label>
                            <input class="form-control" type="number" placeholder="Enter your Commerical register"
                                formControlName="regNo">
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-lg-12 d-flex pt-2 pl-0 pr-0">
                <div class="col-6 d-flex justify-content-lg-start p-0">
                    <button class="btn bg-orange btn-md col-md-4  text-white" role="button" aria-pressed="true"
                        (click)=next(1)>Prev</button>
                </div>
                <div class="col-6 d-flex justify-content-lg-end  p-0">
                    <button class="btn bg-orange btn-md col-md-4 pl-0 text-white" role="button" aria-pressed="true"
                        (click)=next(3)>Next</button>
                </div>
            </div>
        </div>

        <div *ngIf="tab === 3">
            <div class="card">
                <div class="card-header">
                    <div class="card-title">
                        <h5 class="card-text">Personal Details</h5>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-lg-center">
                <div class="card col-lg-12">
                    <div class="card-body">
                        <div class="form-group">
                            <label for="firstName">First name</label>
                            <input class="form-control" type="text" placeholder="Enter your First name"
                                formControlName="firstName">
                        </div>
                        <div class="form-group">
                            <label for="lastName">Last Name</label>
                            <input class="form-control" type="text" placeholder="Enter your Last name"
                                formControlName="lastName">
                        </div>
                        <div class="form-group">
                            <label for="dateOfBirth">DOB</label>
                            <input class="form-control" type="date" placeholder="Enter DOB "
                                formControlName="dateOfBirth">
                        </div>
                        <div class="form-group">
                            <label for="phoneNumber">Phone Number</label>
                            <input class="form-control" type="number" placeholder="Enter your Phone number"
                                formControlName="phoneNumber">
                        </div>

                        <div class="form-group">
                            <label for="emailId">Email</label>
                            <input class="form-control" type="text" placeholder="Enter your email address"
                                formControlName="emailId">
                        </div>
                        <div class="form-group">
                            <label for="address">Address</label>
                            <input class="form-control" type="text" placeholder="Enter your address"
                                formControlName="address">
                        </div>
                        <div class="form-group">
                            <label for="citizenship">Citizenship</label>
                            <input class="form-control" type="text" placeholder="Enter your citizenship" formControlName="citizenship">

                        </div>
                        <div class="form-group">
                            <label for="passport">Passport No</label>
                            <input class="form-control" type="text" placeholder="Enter your passport number"
                                formControlName="passport">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 d-flex justify-content-lg-start pt-2 pl-0">

                <button class="btn bg-orange btn-md col-md-2 d-flex justify-content-lg-center text-white" role="button"
                    aria-pressed="true" (click)=next(2)>Prev</button>
            </div>
            <div class="col-12 d-flex justify-content-lg-center">

                <button class="btn bg-orange btn-md col-md-3 d-flex justify-content-lg-center text-white" role="button"
                    aria-pressed="true">Submit</button>
            </div>

        </div>
    </form>
</div>