/* You can add global styles to this file, and also import other style files */

.bg-orange{
    background-color: #f78225;
}

.footer{
    /* position: absolute; */
    bottom:0;
    height: 50px;
    line-height: 16px;
}